In [1]:
import pandas as pd
from pandas_datareader import data, wb
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
sp = data.DataReader('^GSPC', 'yahoo', datetime(2005, 12, 31), 
                    datetime(2015, 12, 31))

In [3]:
sp.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,1248.290039,1270.219971,1245.739990,1268.800049,2554570000,1268.800049
2006-01-04,1268.800049,1275.369995,1267.739990,1273.459961,2515330000,1273.459961
2006-01-05,1273.459961,1276.910034,1270.300049,1273.479980,2433340000,1273.479980
2006-01-06,1273.479980,1286.089966,1273.479980,1285.449951,2446560000,1285.449951
2006-01-09,1285.449951,1290.780029,1284.819946,1290.150024,2301490000,1290.150024

In [4]:
engine = create_engine('sqlite:///stocks.db')

In [5]:
sp.to_sql('GSPC', engine)