In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/ext_lt_intratrd.tsv', sep='\t')

In [3]:
df.head()

,"indic_et,sitc06,partner,geo\time",2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,"CONT_EXP_EU,SITC0_1,EU27,AT",2.4,2.5,2.4,2.5,2.5,2.5,2.6,2.6,2.6,2.6,2.5,2.4,2.4,2.1,2.1,2.0,1.9
1,"CONT_EXP_EU,SITC0_1,EU27,BE",9.1,9.0,9.0,9.2,9.1,9.1,9.6,9.4,9.5,9.6,9.9,10.1,10.2,10.4,10.5,10.4,10.6
2,"CONT_EXP_EU,SITC0_1,EU27,BG",0.6,0.6,0.6,0.6,0.6,0.6,0.5,0.4,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2
3,"CONT_EXP_EU,SITC0_1,EU27,CY",0.1,0.1,0.1,0.0,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,"CONT_EXP_EU,SITC0_1,EU27,CZ",1.9,1.7,1.6,1.6,1.5,1.4,1.4,1.4,1.3,1.1,1.1,0.9,0.7,0.7,0.6,0.6,0.5

In [4]:
data_rows = [row for row in df.ix[:,0].str.split(',')]

In [5]:
data_cols = [col.split('\\')[0] for col in df.columns[0].split(',')]

In [6]:
new_df = pd.DataFrame(data_rows, columns=data_cols)

In [7]:
df = new_df.join(df.drop(df.columns[0], axis=1))

In [8]:
df.head()

,indic_et,sitc06,partner,geo,2015,2014,2013,2012,2011,2010,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,CONT_EXP_EU,SITC0_1,EU27,AT,2.4,2.5,2.4,2.5,2.5,2.5,...,2.6,2.6,2.6,2.5,2.4,2.4,2.1,2.1,2.0,1.9
1,CONT_EXP_EU,SITC0_1,EU27,BE,9.1,9.0,9.0,9.2,9.1,9.1,...,9.4,9.5,9.6,9.9,10.1,10.2,10.4,10.5,10.4,10.6
2,CONT_EXP_EU,SITC0_1,EU27,BG,0.6,0.6,0.6,0.6,0.6,0.6,...,0.4,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2
3,CONT_EXP_EU,SITC0_1,EU27,CY,0.1,0.1,0.1,0.0,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,CONT_EXP_EU,SITC0_1,EU27,CZ,1.9,1.7,1.6,1.6,1.5,1.4,...,1.4,1.3,1.1,1.1,0.9,0.7,0.7,0.6,0.6,0.5

In [9]:
df.dtypes

indic_et    object
sitc06      object
partner     object
geo         object
2015        object
2014        object
2013        object
2012        object
2011        object
2010        object
2009        object
2008        object
2007        object
2006        object
2005        object
2004        object
2003        object
2002        object
2001        object
2000        object
1999        object
dtype: object

In [10]:
df = df.applymap(lambda cell: cell.replace('n', '').replace(':',''))

In [11]:
import numpy as np

In [12]:
for column in df.columns[4:]:
    try:
        df[column] = df[column].astype(float)
    except Exception as e:
        print(e, column)
        df[column] = df[column].map(lambda x: float(x) if x.isdigit() else np.nan)
        df[column] = df[column].astype(float)

(ValueError('could not convert string to float: ',), '2001 ')
(ValueError('could not convert string to float: ',), '2000 ')
(ValueError('could not convert string to float: ',), '1999 ')

In [13]:
df.dtypes

indic_et     object
sitc06       object
partner      object
geo          object
2015        float64
2014        float64
2013        float64
2012        float64
2011        float64
2010        float64
2009        float64
2008        float64
2007        float64
2006        float64
2005        float64
2004        float64
2003        float64
2002        float64
2001        float64
2000        float64
1999        float64
dtype: object

In [14]:
new_columns = dict([(col, col.strip()) for col in df.columns])

In [15]:
df = df.rename(columns=new_columns)

In [16]:
df['partner'].value_counts()

EXT_EU28    2088
EU28        2088
EXT_EU27    2016
EU27        2016
WORLD       1120
Name: partner, dtype: int64

In [17]:
df['indic_et'].value_counts()

PC_IMP_PROD    1136
MIO_IMP_VAL    1136
MIO_BAL_VAL    1136
MIO_EXP_VAL    1136
PC_EXP_PROD    1136
PC_TOT_EXP      912
CONT_IMP_EU     912
CONT_EXP_EU     912
PC_TOT_IMP      912
Name: indic_et, dtype: int64

In [18]:
latest_eu = df[df['partner'].isin(['EXT_EU28', 'EU28'])]

In [19]:
latest_eu = latest_eu[latest_eu['indic_et'].isin(['MIO_IMP_VAL', 'MIO_EXP_VAL'])]

In [20]:
latest_eu.head()

,indic_et,sitc06,partner,geo,2015,2014,2013,2012,2011,2010,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
2988,MIO_EXP_VAL,SITC0_1,EU28,AT,7713.0,7507.0,7307.0,7082.0,6822.0,6348.0,...,6488.0,5862.0,5246.0,4774.0,4410.0,4120.0,3583.0,NaN,NaN,NaN
2989,MIO_EXP_VAL,SITC0_1,EU28,BE,28471.0,26998.0,26504.0,25933.0,24522.0,22467.0,...,22789.0,21181.0,19413.0,18714.0,17873.0,17217.0,16963.0,NaN,NaN,NaN
2990,MIO_EXP_VAL,SITC0_1,EU28,BG,1808.0,1764.0,1911.0,1795.0,1665.0,1415.0,...,924.0,645.0,514.0,462.0,396.0,340.0,353.0,NaN,NaN,NaN
2991,MIO_EXP_VAL,SITC0_1,EU28,CY,162.0,156.0,161.0,132.0,149.0,130.0,...,134.0,138.0,122.0,118.0,123.0,102.0,89.0,NaN,NaN,NaN
2992,MIO_EXP_VAL,SITC0_1,EU28,CZ,5900.0,5229.0,4862.0,4653.0,4077.0,3396.0,...,3518.0,2861.0,2338.0,2111.0,1564.0,1182.0,1089.0,NaN,NaN,NaN

In [21]:
latest_eu['trade_type'] = latest_eu['indic_et'].map(lambda x: 'Export' if x == 'MIO_EXP_VAL' else 'Import')

In [22]:
eu_trade = latest_eu.groupby(['geo', 'trade_type', 'partner']).sum()

In [23]:
eu_trade.to_csv('data/eu_trade_sums.csv')

In [24]:
imported = pd.read_csv('data/eu_trade_sums.csv')

In [25]:
imported.columns

Index([u'geo', u'trade_type', u'partner', u'2015', u'2014', u'2013', u'2012',
       u'2011', u'2010', u'2009', u'2008', u'2007', u'2006', u'2005', u'2004',
       u'2003', u'2002', u'2001', u'2000', u'1999'],
      dtype='object')